<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/Images/Favicons/icons8-earbud-headphones-100.png" sizes="50x50">
    <link rel="stylesheet" href="/css/bootstrap-5.1.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/role.css">
</head>

<body>
    <div class="row">
        <div class="col-6">
            <img src="/Images/other/role4.jpeg" width="600px">
        </div>
        <div class="col-6">
            <div class="wrapper">
                <h2>Login</h2>
                <form name="login" id="loginform">
                    <h4>Are you:</h4>
                    <div class="input-box">

                        <a href="/reg/solo-login">
                            <div>
                                <label for="a1">Solo Artist</label>
                            </div>
                        </a>

                        <a href="/reg/band-login">
                            <div>
                                <label for="a2">Music Band</label>
                            </div>
                        </a>

                        <a href="reg/perf-login">
                            <div>
                                <label for="a3">Performing Artist</label>
                            </div>
                        </a>

                    </div>
                </form>
                <div class="copy-container">
                    <h4>| ©Copyright:UGAAMUX 2021 |</h4>
                </div>
            </div>
        </div>
    </div>

</body>

</html>